################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VendingMachine/v15
/.vs
VendingMachine/bin
VendingMachine/obj
VendingMachine.Tests/bin
VendingMachine.Tests/obj
